.tabs-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-left: 30px;
}

.tab {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  top: 1px;
  border-top-right-radius: 15px;
  border-top-left-radius: 3px;
  &:hover {
    background-color: #7eb5d4;
    color: white;
  }
}

.selected {
  background-color: #4c8baf;
  color: white;
}

.client-table-container {
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
  }

  span {
    margin: 0 10px;
    font-weight: bold;
  }

  .date {
    width: 15%;
  }

  .icon {
    width: 24px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ced4da;
  }
}
