.card-container {
    display: flex;
    flex-direction: row;
}

mat-card {
    width: 20vw;
  z-index: 5;
  margin: 20px;
  background-color: #f7fcff;
  color: #122e3f;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
