.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

th {
  background-color: #4c8baf;
  color: white;
}

tr:nth-child(even) {
  background-color: #f7fcff;
}

tr:nth-child(odd) {
  background-color: #eef8ff;
}

.icon,
.icon-cell img,
.icon-actions img {
  cursor: pointer;
  width: 24px;
  transition: opacity 0.3s;
}

.icon:hover,
.icon-cell img:hover,
.icon-actions img:hover {
  opacity: 0.5;
}

.icon-cell,
.icon-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-card {
  position: absolute;
  top: 20vh;
  left: 40vw;
  width: 80vw;
  max-width: 500px;
  margin: 20px;
  background-color: #f7fcff;
  color: #122e3f;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
