<div class="table-container">
  <table>
    <thead>
      <tr>
        <ng-container *ngFor="let col of clientColumns">
          <th *ngIf="col.type !== 'hidden'" class="table-header">
            <div class="header-content">
              {{ col.label }}
              <div class="icon-cell" *ngIf="col.type !== 'actions' && col.type !== 'bool'">
                <img
                  src="../../../assets/icons/filter{{
                    activeFilters[col.key] ? '-active' : ''
                  }}.svg"
                  alt="Filter"
                  class="icon-interactable"
                  title="Szűrő hozzáadása"
                  (click)="toggleFilterMenu(col.key, $event)"
                />
              </div>
            </div>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of clientData; let i = index">
        <tr>
          <ng-container *ngFor="let col of clientColumns">
            <td *ngIf="col.type !== 'hidden'">
              <ng-container [ngSwitch]="col.type">
                <ng-container *ngSwitchCase="'bool'">
                  <div class="icon-cell">
                    <img
                      *ngIf="row[col.key]"
                      src="../../../assets/icons/check-circle.svg"
                      alt="True"
                      class="icon"
                    />
                    <img
                      *ngIf="!row[col.key]"
                      src="../../../assets/icons/blocked.svg"
                      alt="False"
                      class="icon"
                    />
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="'actions'">
                  <div class="icon-cell">
                    <img
                      *ngIf="expandedRowId !== i"
                      src="../../../assets/icons/arrow-down.svg"
                      alt="Expand"
                      class="icon-interactable"
                      title="Partnerhez tartozó gépek megjelenítése"
                      (click)="toggleRow(i); $event.stopPropagation()"
                    />
                    <img
                      *ngIf="expandedRowId == i"
                      src="../../../assets/icons/arrow-up.svg"
                      alt="Expand"
                      class="icon-interactable"
                      title="Gépek elrejtése"
                      (click)="toggleRow(i); $event.stopPropagation()"
                    />
                    <img
                      src="../../../assets/icons/phone{{ contactRowId == row['clientId'] ? '-active' : '' }}.svg"
                      alt="Contacts"
                      class="icon-interactable"
                      title="Partner kapcsolattartóinak megjelenítése"
                      (click)="toggleContacts(row); $event.stopPropagation()"
                    />
                    <img
                      src="../../../assets/icons/edit-1.svg"
                      alt="Edit"
                      class="icon-interactable"
                      title="Partner szerkesztése"
                      (click)="editRow(row); $event.stopPropagation()"
                    />
                    <img
                      src="../../../assets/icons/file-plus.svg"
                      alt="Add"
                      class="icon-interactable"
                      title="Gép hozzáadása partherhez"
                      (click)="addMachine(row); $event.stopPropagation()"
                    />
                  </div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  {{ row[col.key] }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </tr>

        <tr *ngIf="expandedRowId === i" class="expanded-content">
          <td [attr.colspan]="clientColumns.length + 1">
            <app-machine-table [machineData]="machineData"></app-machine-table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<mat-card class="contacts" *ngIf="contactRowId != null" (appClickOutside)="closeContact()">
  <app-contact-display
    [contactData]="contactData"
    [clientName]="selectedClientForContacts"
  ></app-contact-display>
</mat-card>

<mat-card class="filter" *ngIf="filterKey != null" (appClickOutside)="closeFilter()">
  <app-filter
    *ngIf="filterKey"
    [columnKey]="filterKey"
    [existingFilter]="existingFilter"
    (onFilterChange)="applyFilter($event)"
    (onClearFilter)="clearFilter(filterKey)"
  ></app-filter>
</mat-card>
