.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin: 5px
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  th,
  td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    position: relative;
  }

  th {
    background-color: #4c8baf;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f7fcff;
  }

  tr:nth-child(odd) {
    background-color: #eef8ff;
  }

  .icon {
    width: 24px;
  }

  .icon-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .icon-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .icon {
      cursor: pointer;
      height: auto;
      border: #4c8baf;
      transition: opacity 0.3s;
  
      &:hover {
        opacity: 0.5;
      }
    }
  }
  
}

mat-card {
  position: absolute;
  top: 20vh;
  left: 40vw;
  width: 80vw;
  max-width: 500px;
  height: auto;
  margin: 20px;
  background-color: #f7fcff;
  color: #122e3f;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}